<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zjjacky.dao.AccountMapper">
    <insert id="addAccount" parameterType="top.zjjacky.domain.Account">
        INSERT INTO demo_ssm.account (id, name, money)
        VALUES (#{id},#{name},#{money})
    </insert>

    <update id="updateAccount" parameterType="top.zjjacky.domain.Account">
        UPDATE demo_ssm.account
        SET id = #{id}, name = #{name}, money = #{money}
        WHERE id = #{id}
    </update>

    <delete id="deleteAccountById" parameterType="int">
        DELETE FROM demo_ssm.account
        WHERE id = #{id}
    </delete>
</mapper>